@use 'variables' as *;

// mixins to take care of repeated patterns.
@mixin set-font(
	$size: 1em,
	$line-height: normal,
	$font-weight: 500,
	$font: $fonts-body
) {
	font-size: $size;
	line-height: $line-height;
	font-weight: $font-weight;
	font-family: $font;
}

@mixin set-flex($direction: row, $wrap: wrap) {
	display: flex;
	flex-flow: $direction $wrap;
}

@mixin uppercase($color: $text-dark) {
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: $color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: 1px;
}

h1 {
	@include set-font(2em, 1em, 200, $fonts-headline);
}

h2 {
	@include set-font(1.5em, 1em, 200, $fonts-headline);
}

h3 {
	@include set-font(1em, 1em, 200, $fonts-headline);
}

h4 {
	@include set-font(1em, 1em, 200, $fonts-headline);
}

p {
	@include set-font(0.7em);
}

a {
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	color: $text-dark;
	text-decoration: none;
	transition: border-color 0.2s ease-in-out;
}
a:hover {
	border-color: $turtle-leo;
}
