@use '../abstracts' as *;

.explanation {
	display: grid;
	grid-template-columns: repeat(12, 1fr);

	h3 {
		@include set-font($size: 2rem, $font: $fonts-top);
		color: $color6;
		grid-row: 1;
		grid-column: 1/13;

		&::after {
			@include set-font($size: 2rem, $font: $fonts-bot);
			color: $color1;
			content: "So What is This About?";
		}
	}

	p {
		grid-column: 1/13;
	}

	&::after {
		background-image: url('../../img/leo.png');
		background-size: 100px 200px;
		display: inline-block;
		width: 100px; 
		height: 200px;
		content:"";
		grid-row: 2;
		grid-column: 6;
	}

	@include set-section($header-bg: $turtle-leo);
	@include set-turtle-section(
		$turtle: 'leo', 
		$desktop-col-start-img: 10, 
		$desktop-col-end-img:12,
		$desktop-col-start-txt: 1, 
		$desktop-col-end-txt:10);
}
