@use '../abstracts' as *;

.participation {
	display: grid;
	grid-template-columns: repeat(12, 1fr);

	h3 {
		@include set-font($size: 2rem, $font: $fonts-top);
		color: $color6;
		grid-row: 1;
		grid-column: 1/13;

		&::after {
			@include set-font($size: 2rem, $font: $fonts-bot);
			color: $color1;
			content: "Participation";
		}
	}

	p {
		grid-column: 1/13;
	}

	@include set-section(
		$header-bg: $turtle-mic,
		$desktop-row: 2
	);
	@include set-turtle-section($turtle: 'mich');
}
