@use '../abstracts' as *;

.participation {
	@include set-section($header-bg: $turtle-mic, $desktop-col-start: 6, $desktop-col-end: 12, $desktop-row: 2);
	h3::after {
		content: "Participation";
	}

	&::after {
		background-image: url('../../img/mich.png');
		background-size: 200px 200px;
		display: inline-block;
		width: 200px; 
		height: 200px;
		content:"";
	}

	@include set-turtle-section($turtle: 'mich');
}
