@use '../abstracts' as *;

body {
	@include set-font($font: $fonts-body);
	color: $color2;
}

h1,
h2,
h3 {
	position: relative;
	z-index: 1;

	&::after {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: -1;
	}
}

h1 {
	@include set-font($size: 4rem, $font: $fonts-top);
	color: $color6;
	text-align: center;

	&::after {
		@include set-font($size: 4rem, $font: $fonts-bot);
		color: $color1;
		content: "CSS Zen Garden";
		margin: auto;
	}
}

h2 {
	@include set-font($size: 3rem, $font: $fonts-top);
	color: $color6;

	&::after {
		@include set-font($size: 3rem, $font: $fonts-bot);
		color: $color1;
		content: "The Beauty of CSS Design";
	}
}
