@use 'variables' as *;

// mixins to take care of repeated patterns.
@mixin set-font(
	$size: 1em,
	$line-height: normal,
	$font-weight: 500,
	$font: $fonts-body
) {
	font-size: $size;
	line-height: $line-height;
	font-weight: $font-weight;
	font-family: $font;
}

@mixin set-flex($direction: row, $wrap: wrap) {
	display: flex;
	flex-flow: $direction $wrap;
}

@mixin uppercase($color: $black-primary) {
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: $color;
}

@mixin set-section(
	$header-bg: $white-primary,
	$desktop-col-start: 2,
	$desktop-col-end: 12,
	$desktop-row: 1
) {
	h3 {
		// text-align: center;
		background-color: $header-bg;
		border-radius: 15px 15px 0 0;
		// padding: 20px;
	}
	p {
		padding: 10px 20px 10px 20px;
	}
	a {
		color: $white-secondary;
	}
	background-color: $white-primary;
	border-radius: 15px;
	width: 100%;
	grid-column: 2/12;
	margin-top: 50px;

	@media (min-width: 800px) {
		grid-column: #{$desktop-col-start}/#{$desktop-col-end};
		grid-row: $desktop-row;
	}
}

@mixin set-turtle-section(
	$turtle: 'leo', 
	$desktop-col-start-img: 2, 
	$desktop-col-end-img: 4,
	$desktop-col-start-txt: 4, 
	$desktop-col-end-txt: 13) {
		&::after {
			background-image: url('../../img/#{$turtle}.png');
			background-size: 100px 200px;
			display: inline-block;
			width: 100px; 
			height: 200px;
			content:"";
			grid-column: 4/9;
			grid-row: 2;
			grid-column: 6;
		}

		@media (min-width:1000px ) {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			h3 {
				grid-column: 1/13;
			}
			p {
				grid-column: #{$desktop-col-start-txt}/#{$desktop-col-end-txt};
				&:nth-child(2) {
					grid-row: 2;
				}
			}
			&::after {
				background-image: url('../../img/#{$turtle}.png');
				background-size: 150px 300px;
				display: inline-block;
				width: 150px; 
				height: 300px;
				content:"";
				grid-column: #{$desktop-col-start-img}/#{$desktop-col-end-img};
				grid-row: 2/5;
			}
			
		}
}
