@use 'variables' as *;

// mixins to take care of repeated patterns.
@mixin set-font(
	$size: 1em,
	$line-height: normal,
	$font-weight: 500,
	$font: $fonts-body
) {
	font-size: $size;
	line-height: $line-height;
	font-weight: $font-weight;
	font-family: $font;
}

@mixin set-flex($direction: row, $wrap: wrap) {
	display: flex;
	flex-flow: $direction $wrap;
}

@mixin uppercase($color: $black-primary) {
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: $color;
}

@mixin set-section($header-bg: $white-primary, $desktop-col-start: 2, $desktop-col-end: 8, $desktop-row: 1) {
	h3 {
		text-align: center;
		background-color: $header-bg;
		border-radius: 15px 15px 0 0;
		padding: 20px;
		
	}
	p {
		padding: 10px 20px 10px 20px;
	}
	a {
		color: $white-secondary;
	}
	background-color: $white-primary;
	border-radius: 15px;
	width: 100%;
	grid-column: 2/12;
	margin-top: 50px;

	@media (min-width: 400px) {
		grid-column: #{$desktop-col-start}/#{$desktop-col-end};
		grid-row: $desktop-row;
	}
	
}
