@use 'variables' as *;

// mixins to take care of repeated patterns.
@mixin set-font(
	$size: 1em,
	$line-height: normal,
	$font-weight: 500,
	$font: $fonts-body
) {
	font-size: $size;
	line-height: $line-height;
	font-weight: $font-weight;
	font-family: $font;
}

@mixin set-flex($direction: row, $wrap: wrap) {
	display: flex;
	flex-flow: $direction $wrap;
}

@mixin uppercase($color: $black-primary) {
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: $color;
}

@mixin set-section($width: 100%, $header-bg: $white-primary) {
	h3 {
		text-align: center;
		background-color: $header-bg;
		border-radius: 15px 15px 0 0;
		padding: 20px;
		
	}
	p {
		padding: 10px 20px 10px 20px;
	}
	a {
		color: $white-secondary;
	}
	width: $width;
	background-color: $white-primary;
	border-radius: 15px;
	margin: 20px;
}
