// Testing custom fonts
@font-face {
	font-family: "TMNT-top";
	src: url(../fonts/TMNT-top.woff2) format("woof2"),
		url(../fonts/TMNT-top.woof) format("woof"),
		url(../fonts/TMNT-top.ttf) format("truetype");
}

@font-face {
	font-family: "TMNT-bot";
	src: url(../fonts/TMNT-bot.woff2) format("woof2"),
		url(../fonts/TMNT-bot.woof) format("woof"),
		url(../fonts/TMNT-bot.ttf) format("truetype");
}

@font-face {
	font-family: "stone-sans-bold";
	src: url(../fonts/stone-sans-bold.ttf) format("truetype");
}

$fonts-top: "TMNT-top";
$fonts-bot: "TMNT-bot";
$fonts-body: "stone-sans-bold";

$turtle-leo: #0190f8;
$turtle-rap: #f74c00;
$turtle-mic: #f8a700;
$turtle-don: #f948f8;

$color1: #95d590;
$color2: #71c76b;
$color3: #4eb946;
$color4: #41983a;
$color5: #2f6f2a;
$color6: #1f4a1c;

$black-primary: #1f1514;
$black-secondary: #64443f;
$white-primary: #f9f6f6;
$white-secondary: #d7a984;
